@import "~common/style/common/variables";
@import "~common/style/common/mixins";

.overlay {
  position: fixed 0;
  z-index: 400;
  background-color: rgba(255,255,255,.63);
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity, .3s visibility;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.filter {
  position: fixed 0;
  overflow: auto;
  z-index: 500;
  background: $white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
  transition: .3s all;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  @include from-screen-size(md) {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    left: auto;
    bottom: auto;
    width: 490px;
  }
}

.head {
  padding: 10px 16px 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .button-set-filter {
    display: none;
    @include from-screen-size(md) {
      display: block;
    }
  }
}

.button-clear {
  font-size: 16px;
  letter-spacing: 0;
  color: $primary;
  background: transparent;
  border: none;
}

.button-close {
  display: block;
  size: 12px;
  background: url("../img/icon-close.svg") no-repeat center;
  background-size: contain;
  border: none;
  @include from-screen-size(md) {
    display: none;
  }
}

.body {
  padding: 16px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding: 0 16px 10px;
  @include from-screen-size(md) {
    display: none;
  }
  .button-set-filter {
    width: 100%;
  }
}
